$blue: #3190e8;
$bc: #e4e4e4;
$fc:#fff;
$fgc:#5f4c4c85;
$gap:#f5f5f5;
//adress and size of image in background
@mixin bis($url) {
    background-image:url($url);
    background-repeat:no-repeat;
    background-size:100% 100%;

}
@mixin borderRadius($radius){
     border-radius: $radius;
}
@mixin allcover{
    position: absolute;
    top:0;
    right:0;
}
@mixin center{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
@mixin re_jus_ct{
    position: relative;
    left:50%;
    transform:translateX(-50%);
}
@mixin ct{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}
@mixin cl{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}
@mixin radius($radius){
    border-radius: $radius;
}
@mixin wh($width,$height){
    width: $width;
    height: $height;
}
@mixin font($size, $line-height, $family:'Microsoft YaHei'){
      font:#{$size}/#{$line-height} $family;
}
//size, color
@mixin sc($size,$color){
    font-size:$size;
    color:$color;

}
//flex,justify-content
@mixin fj($type:space-between){
    display: flex;
    justify-content:$type;//main axis
}
@mixin fa($type:"center"){
    display:flex;
    align-items: center;
}
body{
    margin:0px 0px;
}
